* {
  box-sizing: border-box;
}

.grid-container {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.btn button {
  border-style: none;
  padding: 10px 15px 5px 12px;
  margin-right: 10px;
  border-radius: 5px;
  background: #2C2C2C;
  opacity: 0.7;
  color: #fff;
  font-size: 1.8em;
}

.fwd {
  padding: 10px 13px 5px 14px !important;
}

.clickable:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}